*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    min-height:100vh;

    background:linear-gradient(180deg,#0b3d2e,#14532d);

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}

.familia{

    width:100%;

    max-width:900px;

    text-align:center;

    color:white;

}

header h1{

    font-size:34px;

    margin-bottom:10px;

}

header p{

    color:#d1fae5;

    margin-bottom:30px;

}

.membros{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:25px;

}

.perfil{

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(12px);

    border-radius:25px;

    padding:25px;

    border:1px solid rgba(255,255,255,.20);

    box-shadow:0 15px 30px rgba(0,0,0,.30);

    text-decoration:none;

    color:white;

    display:block;

    transition:.3s;
}

.perfil:hover{

    transform:translateY(-4px);

}

.perfil h2{

    margin-top:15px;

    margin-bottom:8px;

    text-decoration:none;

}

.perfil p{

    color:#d1fae5;

    text-decoration:none;

}

.foto{

    width:110px;

    height:110px;

    margin:0 auto;

    border-radius:50%;

    overflow:hidden;

    border:3px solid white;

    background:#22c55e;

}

.foto img{

    width:100%;

    height:100%;

    object-fit:cover;

    display:block;

}

.voltar{

    display:inline-block;

    margin-top:35px;

    color:white;

    text-decoration:none;

    font-weight:bold;

}

@media(max-width:600px){

.membros{

grid-template-columns:1fr;

}

}
