*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    min-height:100vh;

    background:linear-gradient(180deg,#0b3d2e,#14532d);

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}

.familia{

    width:100%;
    max-width:900px;
    text-align:center;
    color:white;

}

header h1{

    font-size:34px;
    margin-bottom:10px;

}

header p{

    color:#d1fae5;
    margin-bottom:40px;

}

.baloes{

    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:30px;

}

.baloes a{

    text-decoration:none;
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;

}

.balao{

    width:120px;
    height:120px;

    border-radius:50%;

    overflow:hidden;

    border:4px solid white;

    background:#22c55e;

    box-shadow:0 10px 25px rgba(0,0,0,.35);

    transition:.3s;

}

.balao:hover{

    transform:scale(1.06);

}

.balao img{

    width:100%;
    height:100%;
    object-fit:cover;
    display:block;

}

.administrador{

    border-color:#ffd700;

}

.baloes span{

    margin-top:10px;
    font-weight:bold;
    text-decoration:none;

}

@media(max-width:700px){

    .baloes{

        gap:20px;

    }

    .balao{

        width:95px;
        height:95px;

    }

}
