*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(180deg,#0b3d2e,#14532d);

    padding:20px;

}

.login-box{

    width:100%;
    max-width:420px;

    background:rgba(255,255,255,0.12);

    backdrop-filter:blur(14px);

    -webkit-backdrop-filter:blur(14px);

    border-radius:25px;

    padding:40px 30px;

    text-align:center;

    color:#ffffff;

    border:1px solid rgba(255,255,255,.20);

    box-shadow:0 20px 40px rgba(0,0,0,.35);

}

.login-box h1{

    font-size:34px;

    margin-bottom:10px;

}

.login-box p{

    color:#d1fae5;

    margin-bottom:30px;

    font-size:16px;

}

.login-box input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:none;

    border-radius:14px;

    font-size:16px;

    outline:none;

}

.login-box button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:14px;

    background:#22c55e;

    color:#fff;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

.login-box button:hover{

    background:#16a34a;

    transform:scale(1.02);

}

.voltar{

    display:inline-block;

    margin-top:25px;

    color:#ffffff;

    text-decoration:none;

    font-weight:bold;

}

.voltar:hover{

    text-decoration:underline;

}
